@media (prefers-color-scheme: dark) {
	.main {
		color: white;
		background: #222;
		margin: 5%;
		padding: 5%;
		border: solid 1px white;
	}

	.home {
		color: white;
		margin: 4%;
		padding: 4%;
		background: #222;
	}
	.home a {
		text-decoration: none;
		color: red;
	}
}
